:root {
  --background-color: 0, 0%, 18%;
}

.toggle {
  display: none;
}

.burger {
  background-color: hsl(var(--background-color), 90%);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: space-between;
  padding: 0.5rem;
  position: fixed;
  top: 1rem;
}

.burger span {
  border: 1px solid;
  display: block;
  width: 1rem;
}

.toggleOut {
  background-color: hsla(0, 0%, 0%, 0%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 400ms;
  z-index: -1;
}

.toggle:checked ~ .toggleOut {
  background-color: hsla(0, 0%, 0%, 50%);
  z-index: 0;
}

.navbar {
  background-color: hsl(var(--background-color));
  bottom: 0;
  left: -100%;
  max-width: 90%;
  padding: 0.75rem;
  position: fixed;
  top: 0;
  transition: left 400ms, width 400ms;
  width: 30ch;
}

.navbar ul {
  line-height: 4ch;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  padding: 0.5rem 0;
}

.toggle:checked ~ .navbar {
  left: 0;
}

.navlink {
  align-items: "center";
  color: currentColor;
  cursor: "pointer";
  display: "flex";
  gap: "1rem";
}

.active {
  color: var(--accent);
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .toggleOut {
    display: none;
  }

  .navbar {
    height: 100dvh;
    left: 0;
    max-width: 12rem;
    position: sticky;
    width: 3.5rem;
  }

  .navbar:hover {
    width: 12rem;
  }

  .navlink span {
    color: transparent;
  }

  .navbar:hover span {
    color: currentColor;
  }
}
